# Managed by Ansible.
RESTIC_REPOSITORIES={{ (backup_restic_repositories_effective | map(attribute='name') | list | join(' ')) | quote }}
RESTIC_INIT_REPOSITORIES={{ ((backup.restic_init_repositories | default(false) | bool) | ternary('true', 'false')) | quote }}
RESTIC_DEFAULT_FORGET_ARGS={{ (backup.restic_default_forget_args | default('--keep-last 3 --prune')) | quote }}
RESTIC_REQUIRE_SECURE_REPOSITORIES={{ ((backup.restic_require_secure_repositories | default(true) | bool) | ternary('true', 'false')) | quote }}
{% if backup.restic_backup_paths is defined %}
RESTIC_BACKUP_PATHS={{ backup.restic_backup_paths | quote }}
{% endif %}
{% for repo in backup_restic_repositories_effective %}
{% set repo_id = repo.name | string | upper | regex_replace('[^A-Z0-9_]', '_') %}
RESTIC_REPOSITORY_{{ repo_id }}={{ repo.repository | default('') | quote }}
RESTIC_PASSWORD_{{ repo_id }}={{ repo.password | default('') | quote }}
{% if repo.forget_args is defined %}
RESTIC_FORGET_ARGS_{{ repo_id }}={{ repo.forget_args | quote }}
{% endif %}
{% if repo.options is defined %}
RESTIC_OPTIONS_{{ repo_id }}={{ repo.options | quote }}
{% endif %}
{% for key, value in (repo.env | default({}) | dictsort) %}
{{ key }}_{{ repo_id }}={{ value | quote }}
{% endfor %}
{% endfor %}
