name: default_ip_remediation
filters:
  - Alert.Remediation == true && Alert.GetScope() == "Ip"
decisions:
  - type: ban
    duration: {{ (crowdsec.remediation | default({})).ban_duration | default('4h') }}
on_success: break
---
name: default_range_remediation
filters:
  - Alert.Remediation == true && Alert.GetScope() == "Range"
decisions:
  - type: ban
    duration: {{ (crowdsec.remediation | default({})).ban_duration | default('4h') }}
on_success: break
