harbor:
  admin_password: "replace-me"

harbor_config:
  enabled: true
  oidc:
    enabled: true
    endpoint: "https://keycloak.example.com/realms/homelab"
    client_id: "harbor"
    client_secret: "replace-me"
    admin_group: "harbor-admins"
  registry_mirrors:
    - name: "docker-hub-mirror"
      type: "docker-hub"
      url: "https://hub.docker.com"
      project_name: "dockerhub-proxy"
      public: true
