keycloak:
  db_password: "replace-me"
  admin_user: "admin"
  admin_password: "replace-me"
  ci_client_id: ""
  ci_client_secret: ""

keycloak_config:
  enabled: true
  realm:
    name: "homelab"
    display_name: "Homelab"
  realm_roles:
    - "admin"
    - "developer"
  clients:
    - client_id: "openbao"
      name: "OpenBao"
      public: false
      secret: "replace-me"
      redirect_uris:
        - "https://bao.example.com/ui/vault/auth/oidc/oidc/callback"
    - client_id: "harbor"
      name: "Harbor"
      public: false
      secret: "replace-me"
      redirect_uris:
        - "https://harbor.example.com/c/oidc/callback"
  users:
    - username: "admin-user"
      first_name: "Admin"
      last_name: "User"
      email: "admin@example.com"
      password: "replace-me"
      realm_roles:
        - "admin"
