openbao:
  active_keyset: "2026-05-initial"
  keysets:
    "2026-05-initial":
      threshold: 3
      unseal_keys:
        - "..."
        - "..."
        - "..."
        - "..."
        - "..."
  backup_token: "..."
